@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gaegu&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2 {
    font-family: "Gaegu", sans-serif;
    background-color: none;
    font-size: xx-large;
    color: white;
}

p {
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    background-color: #fd93d6;
}

header {
    display: flex;
    justify-content: space-between;
    height: 130px;
    background-color: #ff00a27a;
    color: #ffffffd2;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 5;
    backdrop-filter: blur(10px);

}

#logo-img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.links {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-around;
    width: 60%;
    list-style: none;

}

.links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.links a:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
    transform: scale(1.1);

}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
}

#main-new {
    width: 70%;
    margin-left: 20px;
    margin-right: 40px;
}

#aside {
    width: 38%;
}

#aside img {
    height: 95%;
    width: 95%;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 30px;
}

#posts-text{
    text-align: center;
}

#Posts{
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    
}

#texts-posts{
    text-align: center;
    display: flex;
}

#img-1{
    height: 400px;
    width: 400px;
    margin-right: 100px;
    border-radius: 10px;
}

#img-2{
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

#img-3{
    height: 400px;
    width: 400px;
    margin-left: 100px;
    border-radius: 10px;
}

#text-1{
    margin-left: auto;
    margin-right: auto;
    
}

#text-2{
    margin-left: px;
    margin-right: 150px;
}

#text-3{
    margin-left: auto;
    margin-right: auto;
}

#line{
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 20px 0;
    
}